.mirrored {
	display: inline-block;
	transform: scale(-1, 1);
}

.hidden {
	display: none;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: serif;
	min-height: 100vh;
}

#header {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
	background-color: #fff0de;
	flex: 0;
}

#searchbar {
	padding: 10px;
	background-color: #c7b8a3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 0;
	gap: 10px;
}

.inputbox {
	display: flex;
	justify-content: center;
}

.inputbox input {
	box-sizing: border-box;
	border-radius: 2px 0px 0px 2px;
	border: 1px solid black;
	outline: none;
	height: 2em;
	font-size: 1em;
	margin: 0;
}

.inputbox button {
	box-sizing: border-box;
	height: 2em;
	font-size: 1em;
	background-color: #eee;
	border-radius: 0px 2px 2px 0px;
	border: 1px solid black;
	border-left: none;
	outline: none;
	cursor: pointer;
	margin: 0;
}

#searchbar button:hover {
	background-color: #ddd;
}

#searchbar button:active {
	color: #555;
}

#output {
	flex: 1;
	padding: 10px;
	font-family: sans-serif;
}

#output h3 {
	background-color: #eee;
	margin: 0px -10px;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
}

#footer {
	background-color: #fff0de;
	padding: 5px;
	border-top: 1px solid #aaa;
	flex: 0;
}

a.searchable {
	color: green;
	text-decoration: underline;
}

table {
	border: 1px solid #aaa;
	border-collapse: collapse;
}

th, td {
	background-color: white;
	border: 1px solid #aaa;
	border-collapse: collapse;
	padding: 3px;
}

th {
	background-color: #ccc;
}

.table-hscroll {
	overflow-x: auto;
}

.derivedterms {
	column-count: 1 !important;
}
